@import url('https://fonts.googleapis.com/css?family=Lobster');


body {
  background: pink url('../img/background.svg') no-repeat center ;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container { /*main*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 900px;
}

/*----------HEADER----------*/


header {
  align-self: center;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  height: 130px;
  width: 80%;
}
.logo {
  display: flex;
  height: 100px;
  margin: auto; 
}

.side-bar {
  background-color: rgb(255, 165, 0, 0.9);
  border-radius: 20px; 
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  font-family: 'Lobster', cursive;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  width: 100px;
}

/*----------START WINDOW----------*/

.start-window, .gameover-window{
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 50px; 
  
  height: 60%;
  width: 70%;

  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -30px;
}

.start-window img{
  margin-top: 10px;
  height: 300px;
  margin-bottom: 10px;
}

.start-button {
  background-color: rgb(255, 165, 0);
  border: 0;
  border-radius: 7px;
  color: white;
  display: flex;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: 'Lobster', cursive;
  justify-content: center;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.start-button:hover {
  background-color: white;
  box-shadow: 0 .1em 1em ;
  color: orange;
  font-weight: bolder;
  -webkit-box-shadow: 0 .1em 1em;
  -moz-box-shadow: 0 .1em 1em;
  -o-box-shadow: 0 .1em 1em;
}


/*----------GAME CANVAS----------*/

.instructions {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.instructions .trump{
  width: 385px;
  height: 110px;
}

.instructions h1, .instructions p{
  font-family: 'Lobster', cursive;
  text-align: left;
}

.instructions h1 {
  color:  rgb(255, 165, 0);
  font-size: 1.6rem;
  padding-left: 40px;
}

.instructions p {
  font-size: 1.2rem;
}

.instructions .right {
  text-align: right;
  padding-right: 70px;
}

.instructions .arrow{
  width: 1%;
  height: 10px;
}


/*----------GAME CANVAS----------*/

.game-container {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  height: 80vh;
  margin-top: 60px; 
  width: 100%;
}

canvas {
}

/*----------GameOver WINDOW----------*/

.gameover-window img{
  margin-top: 10px;
  height: 300px;
  margin-bottom: 10px;
}

.restart-button {
  background-color: rgb(255, 165, 0);
  border: 0;
  border-radius: 7px;
  color: white;
  display: flex;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: 'Lobster', cursive;
  justify-content: center;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.restart-button:hover {
  background-color: white;
  box-shadow: 0 .1em 1em ;
  color: orange;
  font-weight: bolder;
  -webkit-box-shadow: 0 .1em 1em;
  -moz-box-shadow: 0 .1em 1em;
  -o-box-shadow: 0 .1em 1em;
}


footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 700px;
}